$primary-color: black;
$background-color: white;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.popupContainer {
    background-color: $background-color;
    color: $primary-color;
    font-size: 12px;
    height: 250px;
    justify-content: center;
    width: 350px;
}